.container {
    display: flex;
    flex-direction: column;
}
.react-tel-input .form-control{
    width: 243px !important;
    height: 50px !important;
    border: 1px solid #00BFA6 !important ;
    outline-color:#00BFA6 !important;
    box-shadow:   0 0 0.4em #00BFA6 !important ; 
    border-radius: 12px!important;
}
.react-tel-input .flag-dropdown{
    border: none !important;
    background: transparent !important;
}
.react-tel-input .flag-dropdown.open .selected-flag{
    background: none !important;
}
h3{
    text-align: center !important;
}
.custom-btn{
    margin-top: 12px;
    width: 243px !important;
}

.infos{
    font-size: 12px !important;
    text-align: center !important; 
}
@media only screen and (max-width: 425px){
	 img{
        /* display: none !important; */
        width: 150px;
    }
}