#input {
    width: 40px;
    border: none;
    border-bottom: 3px solid #00BFA6;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    cursor: not-allowed;
    pointer-events: none;
}
 
#input:focus {
    border-bottom: 3px solid #000;
    outline: none;
    color: #00BFA6;
}
 
#input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}